h1{
  text-align:center;
}
header .class1{
  width:30%;
}
header nav{
  display:flex;
  width:50%;
  float:right;
}
.section1{
  float:left;
  width:40%;
  display:wrap;
  flex-direction:row;
  border:solid;
  border-radius:20px;}
.section2{
  border:solid;
  width:50%;
  float:left;
  border-radius:20px;
}
#section3{
  border:solid;
  text-lign:center;
  width:70%;
  border-radius:20px;
  align-itms:center;
  
}
]