body{
  background-color:#213448;
  font-family:"oswald";
  color:#ECEFCA;
}
#navsection{
  display:flex;
  flex:wrap;
  justify-content:space-between;
  width:100vw;
  height:1.875rem;
  border:1px solid #547792;
  border-radius:20px;
  padding:3vh;
  background:;
  backdrop-filter:;
}
#navbutton{
display:flex;
flex:wrap;
justify-content:space-around;
width:30vw;
}