
body{
  background-color:#213448;
  font-family:"oswald";
  color:#ECEFCA;
}
#navsection{
  display:flex;
  flex:wrap;
  justify-content:space-between;
  justify-self:center;
  width:80vw;
  height:0.3333rem;
  border:1px solid #547792;
  border-radius:20px;
  padding:3vh;
  background:linear-gradient(to right,#547792,#94B4C1);
  backdrop-filter:blur(10px);
}
#navbutton{
display:flex;
flex:wrap;
justify-content:space-around;
width:30vw;
}
#home{
  display:flex;
  justify-content:space-between;
  width:80vw;
  margin:100px;
  border:3px inset white;
  border-radius:1rem;
  padding:3rem;
  background:linear-gradient(to right,#547792,#213448);
  h2{font-size:4em;}
  img{
    width:31.25rem;
    height:31.25rem;
    border-radius:15px;}
  h1{font-size:1.5em;
    font-size:4em;}
  p1{font-size:2em;
    
  }
  #div1{   height:31.25rem;
      align-content:center;
      
  }
  #span1{background:linear-gradient(to   right,#547792,white,#547792);
     color:transparent;
     background-clip:text;}
}
#work{
  width:80vw;
  margin:100px;
  h1{font-size:3em;}
}

