
body{
  background-color:#213448;
  font-family:"poppins";
  color:white;
  p1{
    font-weight:400;
  }
 hr{color:white;
   background-color:white;
   width:120px;
   height:5px;
   transform:scalex(0);
 }
 hr :hover{
   transform:scaleX(0.5);
 }
 a{text-decoration:none;
   color:white;
 }
}

#navsection{
  z-index:-1;
  display:flex;
  flex:wrap;
  justify-content:space-between;
  justify-self:center;
  width:80vw;
  height:0.3333rem;
  border:1px solid #547792;
  border-radius:20px;
  padding:5vw;
  background:linear-gradient(to right,#547792,#94B4C1);
  backdrop-filter:blur(10px);
}
#navbutton{
a{font-size:2em;
  text-decoration:none;
  color:white;
}
display:flex;
align-content:center;
height:0.4rem;
flex:wrap;
justify-content:space-around;
width:30vw;
}
#dropdownmenu{
  margin:20px;
  display:none;
  text-align:center;
  flex-direction:column;
  gap:20px;
  position:absolute;
  width:60vw;
  height:80vw;
  bottom:;
  top:;
  z-index:2;
  margin:;
  background-color:#94B4C1;
  border-radius:1rem;
  backdrop-filter:blur(20px);
  
}
#navicon{
  display:flex;
  gap:1rem;
  align-content:center;
  height:0.3333rem;
  width:10vw;
  img{width:40px;
  height:40px;
}}
#home{
  z-index:1;
  display:flex;
  justify-content:space-between;
  width:80vw;
  margin:100px;
  border:3px inset white;
  border-radius:1rem;
  padding:3rem;
  background:linear-gradient(to right,#547792,#213448);
  justify-self:center;
  h2{font-size:4em;}
  img{
    width:31.25rem;
    height:31.25rem;
    border-radius:15px;}
  h1{font-size:1.5em;
    font-size:4em;}
  p1{font-size:2em;
    
  }
  #div1{   height:31.25rem;
      align-content:center;
      
  }
  #div2{
    animation:profile;
    animation-duration:3s;
    animation-fill-mode:forwards;
  }
  #span1{background:linear-gradient(to   right,#547792,white,#547792);
     color:transparent;
     background-clip:text;}
}
#work{
  z-index:1;
  width:80vw;
  margin:100px;
  justify-self:center;
  p1{font-size:3em;}
  h1{font-size:3em;}
  h2{font-size:3em;
    font-style:bold;
  }
  .techstack{
   display:flex;
   width:10vw;
   gap:1.5rem;
   justify-content:space-between;
   backdrop-filter:blur(10px);
   p1{ background:linear-gradient(to   right,#547792,#547792);
  border-radius:0.8rem;
  backdrop-filter:blur(10px);
    }
  }
  .projects{background:linear-gradient(to right,#547792,#213448);
  border:3px inset white;
  border-radius:1rem;
  width:80vw;
  z-index:1;
    
  }
  .img{align-content:center;
    justify-self:center;
    height:37.5rem;}
  img{
    width:75vw;
    height:31.25rem;
    border-radius:1rem;
  }
  .text{width:75vw;
    justify-self:center;
    padding-bottom:1.25rem;
  }
}
#About{
  z-index:1;
  width:80vw;
  justify-self:center;
  h1{font-size:3em;}
  .work{width:80vw;
    border-radius:1rem;
    border:3px inset white;
    background:linear-gradient(to right,#547792,#213448);
  }
  .diddy{width:75vw;
   justify-self:center;
   margin-top:2rem;
  }
  .diddy2{
    margin:24px;
  }
  .companylogo{
    display:flex;
    img{width:10;
    height:10vw;
  }
  
    
  }
  .dikto{font-size:3em;}
  .companyinfo{font-size:3em;}
}
@media(max-width:1280px){
  #dropbutton{
    display:flex;
    gap:0.5rem;
    height:5vw;
    width:10vw;
    
  }
  .line{width:4px;
    height:32px;
    background-color:white;
  }
  #home{
    display:flex;
    flex-direction:column;
  }
  #div1{
    text-align:center;
    width:80vw;
    justify-content:center;}
  #div2{
    display:flex;
    width:80vw;
    justify-content:center;}
  #navsection{height:2rem;
    #navbutton{display:none;}
    #navicon{display:none;}
    #navsection{display:none;}
  }
  #rogue1{
    img{width:10rem;
      height:10rem;
    }
  #contact{display:none;}
  }
  #contact{display:none;}
  #alternative-contact{
    width:80vw;
    justify-self:center;
    text-align:center;
    #subA2{
      width:80vw;
      background:linear-gradient(to right,#547792,#213448);
      border:3px inset white;
      border-radius:1rem;
      img{
        border-radius:5rem;
        width:50px;
        height:50px;
      }
    }
  }
  }
#contact{width:80vw;
justify-self:center;
img{width:5vw;
  height:5vw;
}
#subcontact{width:80vw;
 justify-self:center;
 border:3px inset white;
border-radius:1rem;
background:linear-gradient(to right,#547792,#213448); 
padding-bottom:1.5rem;
}
#rogue1{display:flex;
  justify-content:space-between;
}
h1{font-size:3em;}
#subsub{width:70vw;
  justify-self:center;
}
#qqa{
  height:5vw;
  align-content:center;
p1{font-size:4em;}
}
}
@media(min-width:1280px){    #dropdownmenu{display:none;}
  #alternative-contact{
    display:none;
  }
  #dropbutton{display:none;}
}
@keyframes profile{
  100%{
    rotate:2deg;}
  
}