@media (min-width: 1280px) {
  #navbutton,
  #navicon {
    display: flex;
  }

  #dropbutton,
  .dropdownmenuA,
  #alternative-contact {
    display: none;
  }

  #home {
    flex-direction: row;
    text-align: left;
  }

  #home img {
    width: 400px;
    height: auto;
  }

  .projects,
  .work,
  #contact {
    flex-direction: row;
  }
}